// Colors
$babook-pink: #f80aaf;

body{
  background-image: url("../img/space.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;

  #loginForm{
    background-color: #fff;
    margin-top: 15%;
    padding: 15px 40px;
    -webkit-animation-duration: 0.5s;

    #emailInput{
      -webkit-animation-duration: 0.5s;
      -webkit-animation-delay: 0.5s;
    }

    #passwordInput{
      -webkit-animation-duration: 0.5s;
      -webkit-animation-delay: 1s;
    }

    .btn{
      text-transform: capitalize;
      -webkit-animation-duration: 0.5s;
      -webkit-animation-delay: 1.5s;
    }

    .btn-round{
      border-radius: 25px;
    }

    #submitLogin{
      background-color: $babook-pink;
      color: #fff;
      font-size: 1.3em;
      text-decoration: none;
      border: 1px solid $babook-pink;
    }
  }
}
