// Colors
$babook-pink: #f80aaf;

body{
  background-image: url("../img/space.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;

  nav{
    background-color: rgba(0, 0, 0, 0.3);

    a img{
      height: 64px;
    }

    .btn{
      text-transform: capitalize;
      background-color: $babook-pink;
      border: 1px solid $babook-pink;
      border-radius: 25px;
    }

    .dropdown-content li a{
      color: $babook-pink;
    }

    .btn:hover{
      color: #fff;
      background-color: inherit;
      border: 1px solid #fff;
      text-decoration: none;
    }
  }

    .events {
      column-width: 320px;
      column-gap: 15px;
      width: 100%;
      max-width: 1100px;
      margin: 50px auto;

      .card {
        background: rgba(0, 0, 0, 0.5);
        margin: 0 2px 15px;
        padding: 15px;
        padding-bottom: 10px;
        transition: opacity .4s ease-in-out;
        display: inline-block;
        column-break-inside: avoid;

        .card-title{
          color: $babook-pink;
        }

        .card-action{
          background-color: transparent;
        }
      }
    }
  }