// Colors
$babook-pink: #f80aaf;

body{
  background-image: url("../img/space.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;

  nav{
    background-color: rgba(0, 0, 0, 0.3);

    a img{
      height: 64px;
    }

    .btn{
      text-transform: capitalize;
      background-color: $babook-pink;
      border: 1px solid $babook-pink;
      border-radius: 25px;
    }

    .dropdown-content li a{
      color: $babook-pink;
    }

    .btn:hover{
      color: #fff;
      background-color: inherit;
      border: 1px solid #fff;
      text-decoration: none;
    }
  }

  time {
    color: black;
  }

  .groupName {
    font-size: 12px;
  }

  p {
    color: black !important;
  }
}