// Colors
$babook-pink: #f80aaf;

header {
  background-image: url("../img/spaceAndLogo.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .row{
    .col-s12{
      margin-top: 72vh
    }

    .btn-round{
      border-radius: 25px;
    }

    .btn{
      text-transform: capitalize;
    }

    #login-btn{
      background-color: $babook-pink;
      color: #fff;
      font-size: 1.3em;
      text-decoration: none;
      border: 1px solid $babook-pink;
    }

    #login-btn:hover{
      color: #fff;
      background-color: inherit;
      border: 1px solid #fff;
      font-size: 1.3em;
      text-decoration: none;
    }
  }
}